/*Í¨ÓÃ*/
body,td {font-size:9pt;margin:0 auto;padding:0;border:0;}
input {padding:0px; margin:0px;}


.clear {clear:both;font-size:0}
.b {font-weight:bold;}

a:link,a:visited {text-decoration:none; color:#404040;}
a:hover,a:active {text-decoration:underline; color:#F00;}

/*×ÖÌå*/
.f14{font-size:14px;}
.f12{font-size:12px;}


