<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>asn</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 用于显示统计图的SERVLET -->
	<servlet>
		<servlet-name>DisplayChart</servlet-name>
		<servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayChart</servlet-name>
		<url-pattern>/DisplayChart</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>接收客户端定时访问，防止会话超时，用来维持长会话</description>
		<display-name>Noop</display-name>
		<servlet-name>Noop</servlet-name>
		<servlet-class>com.bornsoft.noop.Noop</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Noop</servlet-name>
		<url-pattern>/noop</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>SecurityFilter</display-name>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>com.bornsoft.asn.filter.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/do/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/front/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/test/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>tiles</servlet-name>
		<servlet-class>org.apache.tiles.web.startup.TilesServlet</servlet-class>
		<init-param>
			<param-name>org.apache.tiles.definition.DefinitionsFactory.DEFINITIONS_CONFIG</param-name>
			<param-value>/WEB-INF/conf/tiles/quotation-tiles.xml,/WEB-INF/conf/tiles/tiles.xml</param-value>
		</init-param>
		<init-param>
			<param-name>org.apache.tiles.evaluator.AttributeEvaluator</param-name>
			<param-value>org.apache.tiles.el.ELAttributeEvaluator</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<listener>
		<listener-class>org.apache.tiles.web.startup.TilesListener</listener-class>
	</listener>
	<servlet>
		<description>登录回调</description>
		<display-name>LoginCallbackServlet</display-name>
		<servlet-name>LoginCallbackServlet</servlet-name>
		<servlet-class>com.bornsoft.asn.servlet.LoginCallbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCallbackServlet</servlet-name>
		<url-pattern>/LoginCallbackServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SsoStubServlet</display-name>
		<servlet-name>SsoStubServlet</servlet-name>
		<servlet-class>com.bornsoft.asn.servlet.SsoStubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SsoStubServlet</servlet-name>
		<url-pattern>/SsoStubServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.bornsoft.asn.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>TilesRenderServlet</description>
		<servlet-name>TilesRenderServlet</servlet-name>
		<servlet-class>com.bornsoft.asn.servlet.TilesRenderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TilesRenderServlet</servlet-name>
		<url-pattern>/TilesRender</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>TilesMapFilter</display-name>
		<filter-name>TilesMapFilter</filter-name>
		<filter-class>com.bornsoft.asn.filter.TilesMapFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TilesMapFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<!--<servlet>
		<description></description>
		<display-name>Error404Servlet</display-name>
		<servlet-name>Error404Servlet</servlet-name>
		<servlet-class>com.bornsoft.asn.servlet.Error404Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Error404Servlet</servlet-name>
		<url-pattern>/Error404Servlet</url-pattern>
	</servlet-mapping>-->
	<servlet>
		<display-name>ErrorProcessor</display-name>
		<servlet-name>ErrorProcessor</servlet-name>
		<servlet-class>com.bornsoft.asn.exception.ErrorProcessorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorProcessor</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<!--<error-page> <error-code>404</error-code> <location>/Error404Servlet</location> 
		</error-page> -->
	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error</location>
	</error-page>

</web-app>