A:link {
	COLOR: #04d; TEXT-DECORATION: none
}
A:visited {
	COLOR: #04d; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f50; TEXT-DECORATION: underline
}
A:active {
	COLOR: #f50; TEXT-DECORATION: underline
}

#CateContainer UL UL LI {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}

UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: 400; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: 400; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
.HackBox {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent; MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.category-list {
	PADDING-BOTTOM: 2px; MARGIN: 10px 0px; PADDING-LEFT: 2px; WIDTH: 100%; PADDING-RIGHT: 2px; OVERFLOW: hidden; PADDING-TOP: 2px
}
.backup{HEIGHT: 2452px; }
.category-list DIV {
	BORDER-BOTTOM: #ccc 1px dotted; POSITION: relative; BACKGROUND-COLOR: #fff; MARGIN: 0px 0px 5px; WIDTH: 746px; FLOAT: left; CLEAR: both; OVERFLOW: hidden
}
.category-list DIV.hover {
	BORDER-BOTTOM: #fe8802 2px solid; BORDER-LEFT: #fe8802 2px solid; MARGIN: -2px -2px 4px; BACKGROUND: #fffae7; BORDER-TOP: #fe8802 2px solid; BORDER-RIGHT: #fe8802 2px solid
}
.category-list DIV H4 {
	BACKGROUND: url(ptype.png) repeat-y 0px 0px
}
.category-list DIV H4 {
	BORDER-BOTTOM: #cce3f1 1px solid; BORDER-LEFT: #cce3f1 1px solid; BACKGROUND-COLOR: #f3f7f9; MARGIN: 0px 8px 0px 0px; WIDTH: 12px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: left center; FLOAT: left; HEIGHT: 36px; CLEAR: left; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #cce3f1 1px solid; BORDER-RIGHT: #cce3f1 1px solid
}
.category-list DIV.hover H4 {
	BORDER-BOTTOM: #fffae7 1px solid; BORDER-LEFT: #fffae7 1px solid; BACKGROUND: #fffae7; COLOR: #f50; BORDER-TOP: #fffae7 1px solid; BORDER-RIGHT: #fffae7 1px solid
}
.category-list .typeRow H4 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 10px; overflow: visible;
}

.category-list DIV UL {
	MARGIN: 0px; WIDTH: 708px; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 5px
}
.category-list DIV UL LI {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; WIDTH: 220px; 
	PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; FLOAT: left;  
	COLOR: #04d; FONT-SIZE: 12px; OVERFLOW: hidden; FONT-WEIGHT: bold; MARGIN-RIGHT: 10px; 
	PADDING-TOP: 2px
}
.backup{HEIGHT: 88px;}
.category-list DIV UL LI A {
	PADDING-LEFT: 10px; BACKGROUND: url(ptype_bg.gif) no-repeat 2px 45%
}
.category-list DIV UL LI UL {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 3px; PADDING-LEFT: 5px; WIDTH: 220px; 
	PADDING-RIGHT: 0px; WHITE-SPACE: normal; FLOAT: none; OVERFLOW: hidden; PADDING-TOP: 0px
}
.backup{HEIGHT: 66px; WIDTH: 220px !important}
.category-list DIV UL LI UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; MARGIN: 0px 0px 3px; PADDING-LEFT: 5px; WIDTH: auto; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 14px; CLEAR: none; FONT-SIZE: 12px; OVERFLOW: visible; FONT-WEIGHT: normal; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.category-list DIV UL LI DIV {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent; MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.category-list DIV UL LI UL LI A {
	PADDING-BOTTOM: 0px; TEXT-INDENT: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: 0px 0px; FLOAT: left; COLOR: #565553; PADDING-TOP: 0px
}
.category-list DIV UL LI UL LI A.H {
	COLOR: #f50
}
.category-list DIV UL LI UL LI A:visited {
	COLOR: #953597; TEXT-DECORATION: none
}
.category-list DIV UL LI UL LI A:hover {
	COLOR: #f50; TEXT-DECORATION: underline
}

UL.CategoryListMainLevel1 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.CategoryListMainLevel1 LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; BACKGROUND: url(arrow_r.gif) no-repeat left top; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
UL.CategoryListMainLevel1 LI I {
	FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif; COLOR: #333; FONT-SIZE: 10px
}
UL.CategoryListNormalLevel1 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.CategoryListNormalLevel1 LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
UL.CategoryListNormalLevel1 LI I {
	FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif; COLOR: #333; FONT-SIZE: 10px
}
UL.CategoryListInlineLevel1 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.CategoryListInlineLevel1 LI {
	DISPLAY: inline; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 20px; FONT-WEIGHT: normal
}
UL.CategoryListInlineLevel1 LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 5px 5px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; WHITE-SPACE: nowrap; FLOAT: left; FONT-SIZE: 12px; WORD-BREAK: keep-all; PADDING-TOP: 0px
}
UL.CategoryListInlineLevel1 LI A {
	FONT-SIZE: 12px
}
UL.CategoryListInlineLevel1 LI I {
	FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif; COLOR: #333; FONT-SIZE: 10px
}
UL.CategoryListInlineSepLevel1 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.CategoryListInlineSepLevel1 LI {
	DISPLAY: inline; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 20px; FONT-WEIGHT: normal
}
UL.CategoryListInlineSepLevel1 LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; WHITE-SPACE: nowrap; FLOAT: left; FONT-SIZE: 12px; WORD-BREAK: keep-all; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
UL.CategoryListInlineSepLevel1 LI A {
	FONT-SIZE: 12px
}
UL.CategoryListInlineSepLevel1 LI I {
	FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif; COLOR: #333; FONT-SIZE: 10px
}
UL.CategoryListTableLevel1 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
UL.CategoryListTableLevel1 LI {
	LINE-HEIGHT: 16px; MARGIN: 4px 0px; WIDTH: 185px; WHITE-SPACE: nowrap; FLOAT: left
}
UL.CategoryListTableLevel1 LI I {
	FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif; COLOR: #333; FONT-SIZE: 10px
}
