/* CSS Document */
body{ 
	font-size:12px; font-family:"ו"; margin:0; padding:0; 
}

.title{ color:#112482; font-size:16px; font-weight:bold;}
.content{ color:#818181; font-size:12px; line-height:18px; padding:0 5px;}
